Getting `InsecureKeyLengthWarning`

Try to find the root cause of the issue, otherwise add a try/except statement to handle the warning if it cannot be fixed.

Logs from production
```
/usr/local/lib/python3.11/site-packages/jwt/api_jwt.py:153: InsecureKeyLengthWarning: The HMAC key is 22 bytes long, which is below the minimum recommended length of 32 bytes for SHA256. See RFC 7518 Section 3.2.

return self._jws.encode(
```